@charset "utf-8";

.map{
   
}

}.states{
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.gratBackground{
    fill: #808080;
}

.gratLines{
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
}

.counties{
    fill: none;
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.infolabel{
    position: absolute;
    width: 440px;
    height: 80px;
    color: #fff;
    background: #000;
    padding: 5px;
}

.infolabel h1{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    line-height: 1em;
}

.infolabel b{
    float: left;
}

.intro {
    text-align: center;
}

.labelname{
    display: inline-block;
    float: right;
    margin: -25px 0px 0px 40px;
    font-size: 1em;
    font-weight: bold;
    position: absolute;
}

.chart{
    background-color: rgba(128, 128, 128, .2);
}

.subtitle{
    font-size: 1.5em;
    font-weight: bold;
}

.dropdown select{
    font-size: 1em;
}

.dropdown{
    width: 85%;
    margin-top: -2%;
    margin-bottom: 1%;
}

.legendBox{
    background-color: rgba(128, 128, 128, .2);
    
    
}

li.key{
    font-size: .75em;
    width: 10%;
}

.pcplot{
    margin-top: 1%;
}
